---
layout: layouts/base.njk
---
<div id="carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="public\img\pexels-luis-gomes-166706-546819.jpg" class="d-block w-100" alt="code">
    </div>
    <div class="carousel-item">
      <img src="public\img\pexels-negativespace-160107.jpg" class="d-block w-100" alt="code">
    </div>
    <div class="carousel-item">
      <img src="public\img\pexels-pixabay-276452.jpg" class="d-block w-100" alt="code">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; display: inline;">
        <img src="https://imgur.com/rz0UJl7" class="card-img-top" alt="person typing on a computer">
          <div class="card-body">
            <h5 class="card-title">Design</h5>
            <p class="card-text">I am experienced in design and have expertise in layout, colour theory, and typography.</p>
            <a href="#" class="btn btn-primary">Portfolio</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; display: inline;">
        <img src="https://imgur.com/O63FVjm" class="card-img-top" alt="code on a computer screen">
        <div class="card-body">
          <h5 class="card-title">Development</h5>
          <p class="card-text">I use HTML, CSS, Javascript and Bootstrap to create websites.</p>
          <a href="#" class="btn btn-primary">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</div>
