---
layout: layouts/base.njk
---
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem; display: inline;">
          <div class="card-body">
            <h5 class="card-title">Design</h5>
            <p class="card-text">I am experienced in design and have expertise in layout, colour theory, and typography.</p>
            <a href="#" class="btn btn-primary">Portfolio</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem; display: inline;">
        <div class="card-body">
          <h5 class="card-title">Development</h5>
          <p class="card-text">I use HTML, CSS, Javascript and Bootstrap to create websites.</p>
          <a href="#" class="btn btn-primary">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Qualifications
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>BA(Hons) Comic and Concept Art</strong> Leeds Arts University (2020 -2023)
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Skills
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li>Versatile</li>
          <li>Adaptable</li>
          <li>Hardworking</li>
        </ul>
      </div>
    </div>
  </div>
</div>
